<div class="absolute pointer-events-none inset-0 flex flex-col">
  <div class="flex h-32 p-6 gap-6">
    <div
      class="flex-1 flex justify-start items-center bg-white rounded-2xl px-6 relative"
      [ngClass]="{ 'before:absolute before:inset-1 before:rounded-xl before:border-2 before:border-black/50': colorToMove() == 'w' }"
    >
      <h1 class="text-[clamp(1rem,_3rem,_5svw)]/none text-black leading-none pb-1">White</h1>
      @if (colorToMove() == 'w') {
        <div class="grow"></div>
        <span class="text-5xl/none text-black">♚</span>
      }
    </div>
    <div
      class="flex-1 flex flex-row-reverse justify-start items-center bg-black rounded-2xl px-6 relative"
      [ngClass]="{ 'before:absolute before:inset-1 before:rounded-xl before:border-2 before:border-white/50': colorToMove() == 'b' }"
    >
      <h1 class="text-[clamp(1rem,_3rem,_5svw)]/none text-white leading-none pb-1">Black</h1>
      @if (colorToMove() == 'b') {
        <div class="grow"></div>
        <span class="text-5xl/none text-white">♚</span>
      }
    </div>
  </div>
  @if (isInCheck()) {
    <div class="flex justify-center uppercase text-2xl font-bold">Check</div>
  }
  <div class="grow"></div>
  <div class="rounded-2xl p-4 bg-white text-black self-center mb-6 flex gap-3">
    <button class="rounded-xl border border-black p-3 text-xl font-bold aspect-square pointer-events-auto" (click)="onSetCamera(true)">2D</button>
    <button class="rounded-xl border border-black p-3 text-xl font-bold aspect-square pointer-events-auto" (click)="onSetCamera(false)">3D</button>
  </div>
</div>
@if (gameState() == gameStates.PickPromotion) {
  <div class="absolute inset-0 flex items-center justify-center backdrop-blur-sm bg-black/5 pointer-events-auto">
    <div class="grid grid-cols-2 max-w-screen-md min-w-60 w-3/12 bg-white text-black rounded-2xl p-6 gap-4 relative before:pointer-events-none before:absolute before:inset-1 before:rounded-xl before:border-2 before:border-black/50">
      <span class="col-span-2 text-center text-2xl font-medium">Pawn Promotion</span>
      <button type="button" class="rounded-xl bg-black text-white aspect-square" (click)="onChoosePromotion('n')">
        <span class="text-7xl">♞</span>
      </button>
      <button type="button" class="rounded-xl bg-black text-white aspect-square" (click)="onChoosePromotion('b')">
        <span class="text-7xl">♝</span>
      </button>
      <button type="button" class="rounded-xl bg-black text-white aspect-square" (click)="onChoosePromotion('r')">
        <span class="text-7xl">♜</span>
      </button>
      <button type="button" class="rounded-xl bg-black text-white aspect-square" (click)="onChoosePromotion('q')">
        <span class="text-7xl">♛</span>
      </button>
    </div>
  </div>
}